* {
    font-family: "Montserrat";
  }

h1 {
    margin: 30px 0;
    font-size: 26px;
    font-weight: bold;
}

.form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(57, 160, 230) 3px;
    border-radius: 20px;
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    box-sizing: border-box;
    height: 35px;
}

#submit-button {
    margin: 40px 0;
    width: 50%;
    align-self: center;
    background-color: rgb(57, 160, 230);
    border: none;
    border-radius: 5px;
}

#submit-button:hover {
    background-color: rgb(41, 124, 179);
    cursor: pointer;
}

p {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

[id^="classificacao-senha"] {
    color: rgb(102, 190, 102);
}

.esconde-texto {
    display: none;
}

.input-error {
   border: 2px solid red
}

.input-validado {
    border: 2px solid rgb(102, 190, 102)
 }
 
